<%- include('partials/header'); -%>

<header>
    <div class="headings">
        <legend>Signup</legend>
    </div>
    <!-- <form action="POST">

    </form> -->
</header>

<%- include('partials/footer'); -%>